<h1>Welcome to the Lana Del Rey Universe</h1>
<p>Select an existing username or click the button to create a new profile.</p>
<label for="existing-users">Existing users:</label>
<select id="existing-users" name="existing-users">
  <options value="existing-user">This is an exisitng user</options>
</select>
<button>I'm a fan, sign me up!</button>